@keyframes rot {
    0% { transform: rotate(0deg); top: 50%; left: 0% }
    25% { top: 100%; left: 50% }
    50% { top: 50%; left: 100% }
    75% { top: 0%; left: 50% }
    100% { transform: rotate(719deg); top: 50%; left: 0% }
}
#shibe {
  animation: 2s linear infinite rot;
  left: 50%;
  margin-left: -24px;
  margin-top: -24px;
  position: fixed;
  top: 50%;
}
